lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

config.js
wp-config.php
wordpress/config
wordpress/version.txt
version.txt
frontend/version.txt

*.css
