<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{= it.post_title}} - 1001.io - javascript, node andeverything in between</title>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0"/>
    <link rel="shortcut icon" href="/media/favicon.png?v={{=it.version}}"> 
    <style type="text/css" media="all">

        body { margin: 0 }
        #ld { color:  #666; margin: 20% auto; text-align: center; font-size: 1.3em; width: 40%; -webkit-animation: l2 2s infinite; }
        #ld svg {width: 100%}

        @-webkit-keyframes l2 {
            0% {opacity: 0.0001;}
            50% {opacity: 1;}
            100% {opacity: 0.0001;}
        }

        .init-hide {
            display: none;
        }

    </style>
    <script>var ozzo={i:new Date()};</script>
</head>
<body>

    <div id="ld">
        <svg  x="0px" y="0px" width="288px" height="108px" viewBox="0 0 288 108" enable-background="new 0 0 288 108" xml:space="preserve">
            <rect fill="#666666" width="36" height="108"/>
            <rect x="252" fill="#aaaaaa" width="36" height="108"/>
            <path fill="#999999" d="M36,0v108h108V0H36z M108,72H72V36h36V72z"/>
            <path fill="#777777" d="M144,0v108h108V0H144z M216,72h-36V36h36V72z"/>
        </svg>
    </div>


