
    <div class="container" class="init-hide">

        <nav class="slide-left init-hide">

            <ul>
                <li><a href="/" title="home">
                    <svg width="106px" height="40px" viewBox="0 0 288 108" enable-background="new 0 0 288 108" xml:space="preserve">
                        <rect fill="#666666" width="36" height="108"/>
                        <rect x="252" fill="#aaaaaa" width="36" height="108"/>
                        <path fill="#999999" d="M36,0v108h108V0H36z M108,72H72V36h36V72z"/>
                        <path fill="#777777" d="M144,0v108h108V0H144z M216,72h-36V36h36V72z"/>
                        </svg>
                    </a>
                </li>

                {{~ it.menu :item }}
                <li {{?item.children}}class="has-children"{{?}}>
                    <a href="{{=item.url}}">{{=item.title}}</a>
                    {{?item.children}}
                    {{?item.children.length}}
                        <ul>
                            {{~ item.children :child:i }}
                                <li>
                                    <a href="{{=child.url}}">{{=child.title}}</a>
                                </li>
                            {{~}}
                        </ul>
                    {{?}}
                    {{?}}
                 </li>
                 {{~}}
             </ul>
        </nav>
