
<div class="main-list">

    <section class="blog-list">

        {{ it.posts = it.posts.slice(0,2); }}
        {{~it.posts: post}}
        <div class="article-holder post">
            <div class="container-image" {{=this.renderFirstImageAsBackground(post.images)}}>
                <div class="aspect-ration"></div>
                <div class="tag-circle-border">
                    <div class="tag-circle">
                        {{~post.tags: tag}}
                        <span class="tag">{{=tag.name}}</span>
                        {{~}}
                    </div>
                </div>
                <div class="date">{{= post.date.substring(0, 10)}}</div>
           </div>
           <div class="container-content">
               <h2><a href="{{= post.permalink}}">{{= post.post_title}}</a></h2>
                <div class="intro"> {{=this.markdown(post.excerpt)}} </div>
            </div>
        </div>
        {{~}}

    </section>

    <a class="more" href="/blog">more blog posts...</a>

    <section class="project-list">

        <h1>Some of my open-source projects</h1>

        {{ it.projects = it.projects.slice(0,6); }}
        {{~it.projects: project}}
        <div class="article-holder project">
            <div class="container-image" {{=this.renderFirstImageAsBackground(project.images)}}>
                <div class="aspect-ration"></div>
            </div>
             <h2><a href="{{= project.permalink}}">{{= project.post_title}}</a></h2>
            <div class="intro"> {{=this.markdown(project.excerpt)}} </div>
        </div>
        {{~}}

    </section>

    <a class="more" href="/projects">more open source projects...</a>

</div>

<script data-main="/scripts/bootstrap-main" src="/scripts/lib/require.js"></script>

