
    <div id="top" class="content slide-left init-hide">
         <a href="/" title="home" class="logo">
            <svg width="187px" height="70px" viewBox="0 0 288 108" enable-background="new 0 0 288 108" xml:space="preserve">
                <rect fill="#aaa" width="36" height="108"/>
                <path fill="#ccc" d="M36,0v108h108V0H36z M108,72H72V36h36V72z"/>
                <path fill="#aaa" d="M144,0v108h108V0H144z M216,72h-36V36h36V72z"/>
                <rect x="252" fill="#ccc" width="36" height="108"/>
            </svg>
        </a>
        <a class="burger icon-menu" id="nav-toggle"></a>
    </div>

    <nav class="slide-left init-hide">
        <div class="tagline">Javascript, nodejs and everything in between.</div>
        <ul>
           {{~ it.menu :item }}
            <li {{?item.children}}class="has-children"{{?}}>
                <a href="{{=item.url}}">{{=item.title}}</a>
                {{?item.children}}
                {{?item.children.length}}
                    <ul>
                        {{~ item.children :child:i }}
                            <li>
                                <a href="{{=child.url}}">{{=child.title}}</a>
                            </li>
                        {{~}}
                    </ul>
                {{?}}
                {{?}}
             </li>
             {{~}}
         </ul>
    </nav>

    <div class="container content init-hide slide-left">
        {{=it.body}}
    </div>

    <footer class="other-info slide-left init-hide" id="about">
        <div class="footer-container">
            <div class="about-title">About</div>
            <div class="about-image"><div class="aspect-ration"></div></div>
            <div class="about">
                <div class="about-text">
                    <p>This is a small playground for my javascript experiences, open source projects and other thoughts.</p>
                    <p>
                    I’m {{=this.age()}}, work as tech visionary/tech lead at 24HR Communications Malmö, the best web agency in Malmö. </p>
                    <p>
                    I've worked as a developer, art director, web architect and tech lead and have touched almost all web technlogies, but I enjoy writing javascript the most.
                    It continuously keeps surprising me.
                    </p>
                </div>
                <div class="social">
                    <a href="https://github.com/camme" class="icon-github-circled"></a>
                    <a href="mailto:camilo.tapia@gmail.com" class="icon-email"></a>
                    <a href="http://twitter.com/camilotapia" class="icon-twitter"></a>
                    <a href="https://plus.google.com/116088809099838308089" class="icon-gplus"></a>
                    <a href="http://se.linkedin.com/in/camilotapia" class="icon-linkedin"></a>
                </div>
            </div>
            <div class="version">version: {{=this.version()}}</div>
        </div>
    </footer>

    {{=this.analytics()}}

</body>
</html>
