backgroundColor = #292C31

colorDark = #1B1E22

colorDark-20 = rgba(20, 17, 0, .2)
colorLight = rgba(247, 247, 247, 1)
colorOrange = rgba(241, 90, 34,1)
colorBlue = rgb(32, 114, 167)
topMenuBgColor = rgba(20, 17, 0,0.95)

font-24hr-header()
	font-family "Playfair Display"
	font-weight 700

	//font-family "Source Sans Pro"
	//font-weight 600

font-24hr-normal()
	//font-family "PT Sans"
	//font-family "Muli"
	font-family "Source Sans Pro"
	font-weight 400

font-color-negative = rgb(150,150,150)
font-color-positive = #1c1c1c

footerHeight = 300px
