@import 'mixins.styl'

backgroundColor = #fefefe
actionColor = #5b97b6
topColor = #aaa

mainFont()
    font-family 'Raleway', sans-serif
    color #555

html
    min-height 100%
    position relative

body
    background-color lighten(backgroundColor, 90%)
    height 100%
    min-height 100%
    margin 0
    padding 0
    mainFont()

a
    color #333
    text-decoration none
    &:hover
        text-decoration underline

.container
    padding-top 80px
    position relative

#top
    position fixed
    z-index 100
    box-shadow: 0 0px 40px rgba(0,0,0,.4);
    background-color rgba(250, 250, 250, .8)
    width 100%
    height 80px
    margin 0 auto
    background-color #eee
    box-sizing border-box
    .burger
        float right
        font-size 2em
        color #aaa
        text-decoration none
        padding 20px 10px
    .logo
        float left
        position absolute
        top 6px
        left 20px
        svg
            width 100px
            float left


nav
    position fixed
    z-index 0
    background-color #666
    box-shadow 0 0px 40px rgba(0,0,0,.4)
    width 100%
    margin 0 auto
    box-sizing border-box

    .tagline
        color white
        display none
        padding 1em
        float right
        padding-left 1em
        width 74%
        text-align center

    .about-link
        display none

    .nav-title
        font-size .7em
        color #999

    ul
        width 100%
        box-sizing border-box
        padding 0
        margin 0
        list-style none

        li
            padding 0
            border-bottom 2px solid #777

            //&:first-child
            //border-top 2px solid #777

            &:last-child 
                display none

        li.active a
            font-weight 700
        a
            display block
            font-size 1.3em
            font-weight 700
            text-transform lowercase
            color #eee

        .count
            background-color lighten(actionColor, 70%)
            border-radius 150px
            font-size .4em
            margin-top 5px
            height 20px
            width 20px
            box-sizing border-box
            padding-top 4px
            font-family arial
            text-align center
            margin-left 10px
            display block
            float left

.discussion
    margin-top 4em
    border-top 5px solid #ccc
    padding-top 2em

footer
    float left
    font-size 1.5em
    line-height 1.2em
    color #999
    mainFont()
    font-weight 100
    padding 4% 10% 4% 25%
    box-sizing border-box
    position fixed
    z-index 0
    box-sizing border-box
    bottom 0
    width 100%

    .footer-container
        max-width 900px
        margin 0 auto

    .about-title
        font-weight 700
        width 100%
        text-align left
        font-size 1em
        color #bbb
        margin 0

    .about-image
        display none

    .about
        float left
        width 100%
        padding-bottom 18%
        position relative

        h1
            font-size 1em

        .name 
            text-align right

        .about-text
            float left
            font-weight 200
            font-size .6em
            line-height 1.2em
            color #eee
            //margin-bottom 5%

    .version
        bottom 1em
        font-size .7em
        right 1em
        color #ccc
        position absolute

    .about-image
        width 25%
        float left
        background-image url('/media/images/camilo.jpg')
        background-repeat no-repeat
        background-size cover
        background-position -8px -8px
        border 8px solid rgba(200, 200, 200, .3)
        box-sizing border-box
        padding 8px
        border-radius 2000px

    .social
        float left
        margin-top 2%
        a
            transition all ease-out .3s
            border-radius 20px
            text-shadow 0px 0px 8px #666
            box-sizing border-box
            margin-right 5px
            font-size .8em
            line-height 42px
            text-align center
            //text-shadow 1px 1px 1px #fff
            height 40px
            width 40px
            box-sizing border-box
            text-decoration none
            display block
            float left
            background-color #888
            color #eee

            &:hover
                background-color actionColor
                color #fff

.single pre code
    font-size .8em
    line-height 1.3em
    border-left 15px solid darken(backgroundColor, 15%)
    border-right 15px solid darken(backgroundColor, 20%)
    border-top 15px solid darken(backgroundColor, 35%)
    border-bottom 15px solid darken(backgroundColor, 10%)
    box-sizing border-box
    padding 20px

.main-list
.single
    background-color darken(backgroundColor, 2%)
    margin 0 auto
    padding 5%
    box-sizing border-box
    font-size 1.5em

    h1
        line-height 1.2em
        font-size 1.5em
        padding 0 1em
        margin-top 1em
        margin-bottom 0.3em
        clear left

.single
    h1
        padding 0
    a
        color actionColor

.aspect-ration
    margin-bottom 100%

.main-list
    flex-wrap wrap
    display flex
    h1
        margin-bottom 5%
    h2
        margin-top 0
        float left
        padding-bottom 0
        margin-bottom .4em
    .date
        position absolute
        bottom -31px
        right 15px
        font-size .7em
    .intro
        clear left
        //border-bottom 2px dashed actionColor
    .article-holder
        margin-bottom 8%
        position relative
        background-color white
        box-shadow 8px 8px 0 darken(backgroundColor, 7%)
        float left
        circleWidth = 110px
        .tag-circle-border
            position absolute
            left 50%
            margin-left -(circleWidth / 2 + 8px)
            margin-top -(circleWidth / 2 + 8px)
            border 8px solid rgba(200, 200, 200, .3)
            border-radius circleWidth
            top 100%
            width circleWidth
            height circleWidth
            z-index 5
        .tag-circle
            background-color white
            border-radius circleWidth
            width circleWidth
            height circleWidth
            text-align center
            font-size .58em
            display flex
            flex-direction column
            justify-content center
        .container-image
            float left
            width 100%
            background-size cover
            position relative
            position 1
            background-color #ddd
            background-repeat no-repeat
            .aspect-ration
                margin-bottom 50%
        .container-content
            width 100%
            z-index 10
            position relative
            box-sizing border-box
            padding 3.0em 1.5em 1.5em
            float left

        article
            box-shadow 0px 8px 0px darken(backgroundColor, 9%)
            border-bottom solid 8px darken(backgroundColor, 12%)
            padding-bottom 0%
            margin-bottom 15%
            background-position center
            background-size cover
            background-repeat no-repeat
            h2
                padding-bottom 7%

        article .excerpt
            font-size 1.0em

    .blog-list
        display flex
        flex-flow row wrap
        justify-content space-between
        .article-holder
            width 100%
            .intro
                font-size .85em


        &.archive .article-holder
            font-size .9em
            .date
                font-size .6em




    .more
        text-align center
        width 100%
        padding .3em .4em
        transition background-color 1s ease-out, color .5s ease-out
        &:hover
            background-color rgba(100, 100, 100, .2)
            color actionColor
            text-decoration none
    .archive.projects
        .date
            display none
        .container-content
            padding-top 1.5em
        .tag-circle-border
            display none
    .project-list
        box-shadow 0px -8px 0px #ddd
        border-top solid 8px darken(backgroundColor, 5%)
        padding-top 5%
        margin-top 5%
        display flex
        flex-flow row wrap
        justify-content space-between
        .article-holder
            width 30%
        h1
            text-align center
            width 100%
            text-transform lowercase
        .project
            padding 0
            width 100%
            box-sizing border-box
            h2
                padding 7% 10% 0
            .intro
                font-size .85em
                padding 0 10% 10%
            projectListImageWidth = 100%
            .container-image
                width projectListImageWidth
                left 0
                top 0
                box-sizing border-box
                background-size cover
                background-position center
                .aspect-ration
                    margin-bottom 50%

.single
    font-size 1.2em
    line-height 1.5em
    article
        max-width 900px
        margin 0 auto
        img
            width 100%
            border 8px solid  rgba(200, 200, 200, .3)
            margin 1em 0
            box-sizing border-box

        .intro
            font-size 1.5em
            line-height 1.3em
            font-weight 400
            margin-top 10px
            background-color transparent
        h2
            margin-left 0
            padding 40px 0 10px
            margin-top 0
            font-weight 700
        p
            clear left
        li
            padding-bottom 10px

        ul
            clear left

@media only screen and (min-width: 700px) 
    nav
        transition all .4s ease-out
        top 0
    body.slow-scroll
        nav
            top -120px
        #top
            top -120px
    #top
        transition all .4s ease-out
        z-index 1000
        top 0
        background-color transparent
        box-shadow none
        height 120px
        width 30%
        a
            top 0
        .burger
            display none
        .logo
            top 24px
            left 24px
            svg 
                width auto

    footer
        position relative
        border-left 50px solid darken(backgroundColor, 10%)
        border-right 50px solid darken(backgroundColor, 15%)
        border-top 50px solid darken(backgroundColor, 20%)
        border-bottom 50px solid darken(backgroundColor, 5%)
        background-color darken(backgroundColor, 2%)
        padding 4%
        .about-title
            font-weight 700
            width 100%
            text-align center
            font-size 2em
            margin 0px 0 .5em
        .about-image
            display block

        .about
            margin-left 5%
            padding-bottom 0
            width 70%

            .about-text
                font-size .8em
                padding-bottom 5%
                line-height 1.5em
                color #666
        .version
            bottom 1em
            font-size .8em

    .container
        padding-top 120px
    nav
        z-index 100
        background-color rgba(250, 250, 250, .8)
        padding-bottom 0
        ul
            padding-left 150px
            padding-right 35px
            display flex
            justify-content flex-end
            li
                line-height 120px
                border 0
                &:first-child
                    border 0
                &:last-child 
                    display block
            a
                color actionColor
                float left
                padding 0 .5em

         .tagline
            display block
            float left
            text-align left
            position absolute
            top 24px
            left 214px
            padding 1em
            font-size 1em
            color #aaa
            width 200px

    .main-list
        .blog-list
            .post
                width 100%
            &.archive .article-holder
                width 47%
         .project-list
            .project
                width 47%

    .main-list, .single
        border-left 50px solid darken(backgroundColor, 10%)
        border-right 50px solid darken(backgroundColor, 15%)
        border-top 50px solid darken(backgroundColor, 20%)
        border-bottom 50px solid darken(backgroundColor, 5%)

        h1
            font-size 2.5em

 
@media only screen and (min-width: 900px) 
    .main-list
        .blog-list
            .post
                width 47%
            &.archive .article-holder
                width 30%
         .project-list
            .project
                width 30%



@-webkit-keyframes appear
    from 
        opacity: 0.0001
    to 
        opaicty: 1

@-webkit-keyframes logo
    0%
        fill red
    20%
        fill yellow


